* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}

/* General */
body {
  height: 100%;
  color: #292f45;
  background-color: #fffbfa;
  font-family: Raleway, Arial, sans-serif;
  line-height: 1.6;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(245, 245, 245, 0.048);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(48, 49, 49, 0.63);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
}

header.nav-desktop {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid #008080;
  background: #fff;
}
@media (max-width: 900px) {
  header.nav-desktop {
    display: none;
  }
}
header.nav-desktop .content {
  display: flex;
  padding: 1rem 0;
  width: 65%;
  margin: 0 auto;
  justify-content: space-between;
}
header.nav-desktop .content .links {
  display: flex;
  align-items: center;
}
header.nav-desktop .content .links a {
  font-size: 0.9rem;
  text-decoration: none;
}
header.nav-desktop .content .links a:not(.button) {
  color: #282c2c;
}
header.nav-desktop .content .links a:not(.button):hover {
  color: #008080;
}
header.nav-desktop .content .links a:not(:first-child) {
  margin-left: 1.6rem;
}
header.nav-mobile {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background: #fff;
  border-bottom: 3px solid #008080;
  padding: 1rem;
  text-align: center;
}
header.nav-mobile .mobile-navlist {
  padding: 1rem;
  background: #fff;
  border-right: 3px solid #008080;
  list-style: none;
  position: fixed;
  height: 100%;
  width: 250px;
  z-index: 10001234;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
}
header.nav-mobile .mobile-navlist.close {
  transform: translateX(-100%);
}
header.nav-mobile .mobile-navlist.open {
  transform: translateX(0%);
}
header.nav-mobile .mobile-navlist-item a {
  padding: 1rem;
  display: inline-block;
  width: 100%;
  font-size: 0.9rem;
  text-decoration: none;
}
header.nav-mobile .mobile-navlist-item a:not(.button) {
  color: #282c2c;
}
header.nav-mobile .mobile-navlist-item a:not(:first-child) {
  margin-left: 1.6rem;
}
header.nav-mobile .mobile-navlist-item:not(:last-child):not(.button) {
  border-bottom: 2px solid #3331;
}
header.nav-mobile .ham-icon {
  display: block;
  position: absolute;
  height: 40%;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 900px) {
  header.nav-mobile {
    display: block;
  }
}

/* Footer */
footer {
  background-color: white;
  border-top: 2px solid #008080;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
}
@media (max-width: 900px) {
  footer {
    text-align: justify;
    padding: 2rem 2.3rem;
  }
}
footer p.copyright {
  color: #90929d;
  text-align: center;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 1rem;
}

/* Footer */
.button, .button:link {
  font-family: "Varela Round";
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block !important;
  border-radius: 500px;
}
.button--large {
  padding: 1rem 2rem;
  font-size: 2rem;
}
.button--medium {
  font-size: 1rem;
  padding: 0.6rem 1.3rem;
}
.button--small {
  font-size: 0.6rem;
  padding: 0.5rem 0.9rem;
}
.button.primary {
  background: #008080;
  color: white;
}

.inline-link-btn {
  display: inline-block;
  text-decoration: none;
  color: #008080;
  transition: transform 0.4s ease, background 0.3s ease, color 0.1s ease, padding 0.3s ease;
  border-radius: 6px;
}
.inline-link-btn:hover {
  padding: 0.3rem 0.6rem;
  transform: rotateZ(-3deg) scale(1.03);
  background: #008080;
  color: white;
}

.section {
  width: 100%;
  padding: 5rem 0;
}
.section--fullpage {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section--light {
  background: #fff;
  border: 1px solid #29656524;
  border-left: none;
  border-right: none;
}
.section-content {
  max-width: 70%;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .section-content {
    max-width: 85%;
  }
}

.intro .banner {
  display: block;
  width: 60%;
  margin: 0 auto;
  max-width: 600px;
}
.intro h1 {
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0.01em;
}
@media (max-width: 900px) {
  .intro h1 {
    font-size: 1.7rem;
  }
}
.intro h2 {
  color: black;
  margin: 15px 0;
  font-size: 20px;
  font-weight: 400;
}

.features {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .features {
    flex-direction: column;
  }
}
.features .features__tile {
  padding: 2rem;
  flex-basis: 31%;
  background: #efefef;
  position: relative;
  border-radius: 1.2rem;
}
@media (max-width: 900px) {
  .features .features__tile:not(:first-child) {
    margin-top: 2rem;
  }
}
.features .features__tile a {
  position: absolute;
  bottom: 20px;
  left: 2rem;
}
.features .features__tile hr {
  display: block;
  width: 100%;
  margin: 1rem 0rem;
  background: #008080;
  border: none;
  outline: none;
}
.features .features__tile img {
  display: block;
  margin: auto;
  max-height: 35px;
}

.word-from-founder {
  position: relative;
  z-index: 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='412' height='412' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23a3a3a3' stroke-width='0.6' stroke-opacity='0.2'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
}
.word-from-founder .header,
.word-from-founder .content {
  background: #008080;
  color: white;
}
.word-from-founder .header {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 100px;
  z-index: 2;
}
.word-from-founder .header .founder-info h1 {
  font-size: 2.4rem;
}
@media (max-width: 900px) {
  .word-from-founder .header .founder-info h1 {
    font-size: 1.5rem;
  }
}
.word-from-founder .header .founder-info p {
  margin-top: 0.6rem;
  font-style: italic;
}
.word-from-founder .header img {
  display: block;
  height: 8rem;
  width: auto;
  margin-right: 1rem;
  border: 2px solid white;
  border-radius: 50%;
}
@media (max-width: 900px) {
  .word-from-founder .header img {
    height: 6rem;
  }
}
.word-from-founder .content {
  z-index: 1;
  padding: 2rem;
  padding-top: 6rem;
  border-radius: 0 0 3rem 3rem;
  margin: auto;
  margin-top: -4.5rem;
}

.how-it-works {
  background-color: #008080;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  color: white;
}
.how-it-works ul {
  list-style-type: none;
}
.how-it-works ul li {
  color: #222;
  background: #f4f4f4;
  padding: 1rem;
  padding-left: 4rem;
  position: relative;
  border-radius: 1rem;
}
.how-it-works ul li .count {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  background: #008080;
  height: 30px;
  width: 30px;
  margin-right: 0.5rem;
}
.how-it-works ul li:not(:first-child) {
  margin-top: 0.6rem;
}

/*# sourceMappingURL=style.css.map */
